<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "stormydayplatformer.codingninja.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

        <name>Stormy Dayname</name>

    <description>
        A platformer game themed on a stormy day.
    </description>

    <author href="http://scratch.mit.edu/users/CodingNinja26" email="email@email.com">
        CodingNinja26
    </author>

</widget>
