<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "pixelgamemaking.dodge.the.spikes"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

        <name>Dodge The Spikes</name>

    <description>
        In this game, you have to dodge the spikes that come down the screen.
    </description>

    <author href="https://pixelgamemaking.com/" email="email@email.com">
        PixelGameMaking
    </author>

</widget>
